build/
dist/
modules/*/typed
**/*.min.js
node_modules/
coverage/
test/**/*-failed.png
.nyc_output/
.reify-cache/

tsconfig.tsbuildinfo

dist-demo/
dist-bundle.js

test/**/yarn.lock
yarn-error.log
package-lock.json

.vscode/
.project
.idea
.DS_Store
*.zip
*.rar
*.log
.exit_code
