build/
dist/
modules/*/typed
**/*.min.js
node_modules/
coverage/
test/**/*-failed.png
.nyc_output/
.reify-cache/

tsconfig.tsbuildinfo

test/**/yarn.lock
yarn-error.log
package-lock.json

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.vscode/
.project
.idea
.DS_Store
*.zip
*.rar
*.log
.exit_code
